/* Add your font via Google Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* CSS Reset, you don't need to understand these, i just copy paste it so it reset the CSS style */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of reset */

/* Define your color scheme here, taken from Fullyhacks color scheme */
:root {
  --body_bg: #fffaf1;
  --sky_100: #abe1ff;
  --sky_300: #18aaff;
  --blue_300: #385ddf;
  --purple_300: #9ea8ff;
  --purple_hover: #3b3561;
  --purple_500: #4f38df;
  --pink_700: #b438df;
  --pink_400: #ff8f8f;
  --pink_300: #df389c;
  --pink_100: #ffabce;
  --orange_300: #ffc985;
  --orange_100: #ffedcc;
  --purple_main: #340b67;
  --purple_main_hover: #b49fcc;
}

html {
  background-color: var(--body_bg);
  font-family: "Rubik";
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav {
  background-color: var(--purple_300);
  padding: 2rem;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 1.5rem;
}
.navlink { 
    text-decoration: none;
    color: black;
    list-style: none;
}
.title {
  color: var(--sky_300);
  margin-top: 2rem;
  font-size: 2rem;
}
.title2 {
  color: var(--sky_300);
  margin-top: 1rem;
  font-size: 3rem;
}
.pictureCaption {
  margin-top: 1rem;
}
.titleCaption {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.fullypic {
  margin-top: 2rem;
  object-fit: cover;
}

.infopic {
  margin-top: 2rem;
  border: 1px solid #dddddd00;
  border-radius: 9px;
  padding: 5px;
  width: 150px;
}


.register-form {
  background-color:#9ea8ff;;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 35%;
  border-radius: 10px;
  text-align: center;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  text-indent: 1em;
  
  
}

.login-form {
  background-color:#9ea8ff;;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 35%;
  border-radius: 10px;
  text-align: center;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  text-indent: 1em;
  
  
}

#name {
  margin-top: 20px;
  margin-bottom: 5px;
}
#email, #password, #confirm-password  {
  margin-top: 10px;
  margin-bottom: 5px;
}

form {
  text-align: center;
}

form label {
  display: inline-block;
  width: 10em;
  text-align: left;
  text-indent: -1em;
}

